# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

/.vs/SocialNetwork/v17
/.vs/SocialNetwork/FileContentIndex
/.vs
/SocialNetwork/.vs/SocialNetwork/DesignTimeBuild
/SocialNetwork/.vs/SocialNetwork/FileContentIndex
/SocialNetwork/.vs/SocialNetwork
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/staticwebassets
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/project.razor.vs.bin
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/SocialNe.364C5A64.Up2Date
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/SocialNetwork.AssemblyInfo.cs
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/SocialNetwork.AssemblyInfoInputs.cache
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/SocialNetwork.assets.cache
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/SocialNetwork.csproj.AssemblyReference.cache
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/SocialNetwork.csproj.BuildWithSkipAnalyzers
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/SocialNetwork.csproj.CoreCompileInputs.cache
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/SocialNetwork.csproj.FileListAbsolute.txt
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/SocialNetwork.GeneratedMSBuildEditorConfig.editorconfig
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/SocialNetwork.genruntimeconfig.cache
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/SocialNetwork.GlobalUsings.g.cs
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/SocialNetwork.MvcApplicationPartsAssemblyInfo.cache
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/SocialNetwork.RazorAssemblyInfo.cache
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/SocialNetwork.RazorAssemblyInfo.cs
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/SocialNetwork.sourcelink.json
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/staticwebassets.build.json
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/staticwebassets.development.json
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/staticwebassets.pack.json
/SocialNetwork/SocialNetwork/obj/project.assets.json
/SocialNetwork/SocialNetwork/obj/project.nuget.cache
/SocialNetwork/SocialNetwork/obj/SocialNetwork.csproj.nuget.dgspec.json
/SocialNetwork/SocialNetwork/obj/SocialNetwork.csproj.nuget.g.props
/SocialNetwork/SocialNetwork/obj/SocialNetwork.csproj.nuget.g.targets
/SocialNetwork/SocialNetwork.Data/obj
/SocialNetwork/SocialNetwork/obj/Debug/net8.0/scopedcss
/SocialNetwork/SocialNetwork/bin/Debug/net8.0/SocialNetwork.deps.json
/SocialNetwork/SocialNetwork/bin/Debug/net8.0/SocialNetwork.runtimeconfig.json
/SocialNetwork/SocialNetwork/bin/Debug/net8.0/SocialNetwork.staticwebassets.runtime.json
/SocialNetwork/SocialNetwork/bin/Debug/net8.0
