@import url('main-page.css');

.topnav a {
    color: #83b013;
    text-decoration: none;
    font-style: italic;
    font-family: 'Brush Script MT', Brush Script Std, cursiv;
    font-size: 35px;
}

.btn a {
    color:white;
    text-decoration: none;
}
.main {
    -ms-flex: 40%; /* IE10 */
    flex: 40%;
    padding: 20px;
}

.side {
    -ms-flex: 60%; /* IE10 */
    flex: 60%;
    padding: 20px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #edeef0;
}

.topnav {
    padding: 20px;
    text-align: center;
    width: fit-content;
    margin-left: 45%;
    background-color: #edeef0;
    display: inline-block;
}

.btn_submit {
    background-color: #83b013;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.frm_text {
    width: 100%;
}

.frm {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.mrgn {
    margin: 5px;
}
.fr_list_text {
    margin-left: 20px;
    padding: 5px 0px 5px 0px;
    color:#cbc6c6;
}
.fr_block{
    margin:10px 0px 10px 0px;
}
.block-reg {
    margin: 20px;
    margin-left: 70%;
    padding: 30px;
    align-content: center;
    border-radius: 4px;
    width: fit-content;
    box-shadow: 0 1px 0 0 0, 0 0 0 1px #edeef0;
}

.background-main {
    background-color: #edeef0;
}

.background-white {
    background-color: white;
}

.text-color-gray {
    color: slategray;
}

.center {
    text-align: center;
    align-content: center;
    margin: 5px;
}

.enter_submit {
    background-color: #71931d;
    color: white;
    padding: 20px 20px 20px 20px;
    border: none;
    cursor: pointer;
    width: 500px;
    margin: 0px 20px 0px 20px;
}

.main-img {
    width: 100%;
    max-width: max-content;
    float: left;
    display: inline-block;
    padding: 20px;
}
.ava {
    width: 100px;
    max-width: max-content;
}
.fr {
    padding: 14px 20px;
    width: fit-content;
    display: inline-block;
}

.text-size_12 {
    font-size: 15px;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.date_control {
    width: 25%;
    display: inline;
    min-width: max-content;
}

.date_box {
    width: 100%;
}

.exbutton {
    position: relative;
    color: white;
    padding: 14px 20px;
    margin-left: 90%;
    margin-top: -72px;
    border: none;
    cursor: pointer;
    width: fit-content;
    z-index: 20;
}
.info_wind {
    display:flex;
    flex-direction:column;
    border-block:double;
    border-block-color: #cbc6c6;
    padding: 10px 0px 20px 0px;
    margin-top:30px;
}
.user_win {
    float: left;
    width: fit-content;
}
.user_page {
    width: auto;
    height: 55%;
}
.user_info {
    padding: 5px 0px 5px 0px;
}

.gray_text {
    color: #cbc6c6;
    white-space: nowrap;
    display: inline;
    margin-left: 20px;
}

.search {
    width: 150px;
    border: none;
}
.name {
    padding-top:40px;
    text-align:center;
    font-size:25px;
}
.block-edit {
    margin: 20px;
    padding: 30px;
    align-content: center;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 0, 0 0 0 1px #edeef0;
}
.chat{
    border:solid;
    border-radius:3px;
}
.chat_wrap{
    padding:30px 30px 30px 30px;
}
.text_pad{
    padding:10px 0px 10px 0px;
}
