@{
	ViewData["Title"] = "Главная";
}

<div class="row">
	<div class="side">
		Пользуйтесь нашей самой крутой соцсетью! Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.
	</div>
</div>
<img class="main-img" src="https://www.funnyart.club/uploads/posts/2023-01/1672932599_www-funnyart-club-p-prikolnie-emblemi-kartinki-21.png" />
</div>
<div class="main">
	блок регистрации
	<partial name="Register" />
	блок авторизации
</div>
</div>
